In [1]:
import spacy

In [ ]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
from spacy import displacy

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("questions.csv")

In [ ]:
data.head()

   id  qid1  ...                                          question2 is_duplicate
0   0   1.0  ...  What is the step by step guide to invest in sh...          0.0
1   1   3.0  ...  What would happen if the Indian government sto...          0.0
2   2   5.0  ...  How can Internet speed be increased by hacking...          0.0
3   3   7.0  ...  Find the remainder when [math]23^{24}[/math] i...          0.0
4   4   9.0  ...            Which fish would survive in salt water?          0.0

[5 rows x 6 columns]

In [ ]:
data.shape

(404351, 6)

In [ ]:
data.describe()

                  id           qid1           qid2   is_duplicate
count  404351.000000  404351.000000  404351.000000  404351.000000
mean   202175.000000  391840.987691  390195.973765       0.369248
std    116726.223686  228430.857607  228803.645742       0.482602
min         0.000000       1.000000       2.000000       0.000000
25%    101087.500000  193381.000000  191012.000000       0.000000
50%    202175.000000  390630.000000  388364.000000       0.000000
75%    303262.500000  589514.000000  588071.000000       1.000000
max    404350.000000  789800.000000  789801.000000       1.000000

In [ ]:
data["is_duplicate"].value_counts()

0    255045
1    149306
Name: is_duplicate, dtype: int64